<div id="about-zulip" class="overlay flex" tabindex="-1" role="dialog" data-overlay="about-zulip" aria-hidden="true">
    <div class="overlay-content overlay-container">
        <button type="button" class="exit" aria-label="{{t 'Close' }}"><span aria-hidden="true">&times;</span></button>
        <div class="overlay-body">
            <div class="about-zulip-logo">
                <a target="_blank" rel="noopener noreferrer" href="https://zulip.com"><img src="../../static/images/logo/doer-org-logo.svg" alt="{{t 'Doer' }}" /></a>
            </div>
            <div class="about-zulip-version">
                <strong>Doer Server</strong>
                <div class="zulip-version-info">
                    <span>{{t "Version {doer_version}" }}</span>
                    <span class="copy-button tippy-doer-tooltip zulip-version" data-tippy-content="{{t 'Copy version' }}" data-tippy-placement="right" data-clipboard-text="{{doer_version}}">
                        <i class="doer-icon doer-icon-copy" aria-hidden="true"></i>
                    </span>
                </div>
                {{#if is_fork}}
                <div class="zulip-merge-base-info">
                    <span>{{t "Forked from upstream at {doer_merge_base}" }}</span>
                    <span class="copy-button tippy-doer-tooltip zulip-merge-base" data-tippy-content="{{t 'Copy version' }}" data-tippy-placement="right" data-clipboard-text="{{doer_merge_base}}">
                        <i class="doer-icon doer-icon-copy" aria-hidden="true"></i>
                    </span>
                </div>
                {{/if}}
            </div>
            <p>
                Copyright 2012–2015 Dropbox, Inc., 2015–2021 Kandra Labs, Inc., and contributors.
            </p>
            <p>
                Doer is <a target="_blank" rel="noopener noreferrer" href="https://github.com/zulip/zulip#readme">open-source software</a>,
                distributed under the Apache 2.0 license.
            </p>
        </div>
    </div>
</div>
